<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            @(ViewData["Title"] as string) - Web
        </title>

        <script type="importmap"></script>

        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" lang="en" rel="stylesheet" type="text/css" />
        <link href="~/lib/font-awesome/css/all.css" lang="en" rel="stylesheet" type="text/css" />

        <script charset="utf-8" defer lang="en" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            @await Html.PartialAsync(
                partialViewName: "~/Pages/Shared/Partial/_Navbar.cshtml"
            )
        </header>

        <main class="container" role="main">
            <div class="pb-3">
                @RenderBody()
            </div>
        </main>
    </body>
</html>