<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a asp-area="" asp-page="/Index" class="navbar-brand mb-0 h1">
            @Environment.GetEnvironmentVariable(variable: "WebsiteName")
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" asp-area="" asp-page="/Index" class="nav-link" title="Home">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-area="" asp-page="/Privacy" class="nav-link" title="Privacy">
                        Privacy
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>